@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sticker Control</h1>
    <p class="lead">Esta aplicación te ayuda a llevar el control de tus Cromos del Álbum Panini de la Copa Mundial FIFA Rusia 2018.</p>
    <p class= "text-muted"> Utiliza un Diccionario para su funcionamiento</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seguimiento</h2>
        <p>
            Permite darle seguimiento a los Cromos de cada país participante.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Estado de Cromo</h2>
        <p>permite saber si el cromo </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>